
@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hakkımda</h1>


<img src="~/Content/img/9.jpg" class="img-left" />
<p>
    Ceylan Çakmar // Bilgisayar mühendisi<br>
    Sakarya Üniversitesi Bilgisayar Ve Bilişim Fakültesi / Bilgisayar
    mühendisliği bölümü mezunuyum.
    eğitim hayatım boyunca html, css, javascript,c# yazılım dillerine odaklandım ve daha da gelştirmeye çalışıyorum.
    Bu dillerde geliştirdiğim  küçük çaplı bikaç proje oldu, bunlardan en önemlileri motoarise(html,css) ve
    yemeksitesi,mymap projeleriydi. Bunların dışında kendimi
    Asp.NET,,MVC,.Net Core,Angular,React alanlarında da geliştirmek istiyorum ve çalışıyorum.
    Ayrıca çok çalışkan, istekli, takım çalışmasına yatkın biriyim.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>