
@{
    ViewBag.Title = "Diğer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Diğer</h1>
<img src="~/Content/img/1.jpg" alt=" resim" class="img-left" />



<p>
    Asp.net MVC, Java,Php,C#
</p>
<p>
    Html,CSS3.javascript,jquery
</p>
<p>
    Mssql,mySgl,SQLite
</p>
<p>
    bootstrap,fontawasome
</p>
<p>
    tfs,git
</p>
<p>
    migration,responsive
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>