
@{
    ViewBag.Title = "iletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>iletişim</h1>
<img src="~/Content/img/bil.jpg" alt=" resim" class="img-left" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

<p>
    <span class="fa fa-user-circle isim"> Ceylan ÇAKMAR</span>
</p>
<p>
    <span class="fa fa-phone-square "> 0505-385-12-11</span>
</p>
<p>
    <span class="fa fa-envelope "> cakmarceylan@gmail.com</span>
</p>
<p>
    <span class=" fa fa-map-marker"> Başakşehir/İSTANBUL </span>
</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
